NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
BARBERLAB_DEMO_MODE=false
BARBERLAB_ADMIN_EMAIL=admin@egosbarberia.com
BARBERLAB_ADMIN_PASSWORD=
BARBERLAB_ADMIN_NOMBRE=Admin Ego's
BARBERLAB_ADMIN_TELEFONO=3503803010
BARBERLAB_SUPER_ADMIN_EMAIL=admin@mrzlabs.dev
BARBERLAB_SUPER_ADMIN_PASSWORD=
BARBERLAB_SUPER_ADMIN_NOMBRE=Super Admin BarberLab
BARBERLAB_SUPER_ADMIN_TELEFONO=3503803010
